:root {
    --col-1: #8e8d8a;
    --col-2: #eee2dc;
    --logoColor: #c2b6ab;
    --col-6: #bdb1a6;
    --col-7: #321921;
    --col-8: #6c5a58;
    --col-9: #000000;
    --col-10: #333;
    --col-11: #fff;
    --col-12: #111;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* body {
    background: var(--col-12);
} */

.header-container {
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--logoColor);
    position: fixed;
    top: 0;
    justify-content: space-between;
}

/* header > img {
    height: 12vh;
} */

.logo {
    font-size: 3rem;
    padding-left: 3vw;
    font-weight: 800;
    color: var(--col-7);
}

.becomeMemberButton {
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: rgb(17, 167, 17);
    color: #fff;
    border: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.418);
    color: #fff;
    border: red;
    display: none;
    justify-content: center;
    align-items: center;
}

.becomeMemberButton:hover {
    background-color: green;
}

.logout-btn:hover {
    background-color: red;
}

.lang-container {
    padding-right: 3vw;
}

.nav-links {
    position: fixed;
    top: 12vh;
    width: 100vw;
}

.nav-links > ul {
    display: flex;
    background: var(--col-10);
    height: 3vh;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: var(--col-6);
    text-transform: uppercase;
}

.nav-links li {
    cursor: pointer;
}

.nav-links li:hover{
    color: #38b8ff;
    font-weight: 800;
}

.mainDiv {
    padding-top: 12vh;
}

.mainDiv > div {
    display: none;
    padding: 3vw;
    line-height: 1.5;
    background: var(--col-12);
    color: var(--col-6);
    padding: 8vh 5vw;
    /* width: 100%; */
    min-height: 72vh;
}

.mainDiv > div.active {
    display: block;
}

.burger {
    background: var(--col-10);
    position: fixed;
    top: 13vh;
    right: 2vw;
    display: none;
    cursor: pointer;
    /* z-index: 333; */
}

.burger div{
    width: 25px;
    height: 3px;
    background: var(--col-6);
    margin: 5px;
    transition:all 0.5s ease;
}

.toggle .line1{
    transform: rotate(-405deg) translate(-5px,6px );
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(405deg) translate(-5px,-6px );
}

.nav-active{
    transform: translateX(0%);
}

/* ol {
    list-style: circle;
    padding-left: 3vw;
} */

.hidden {
    display: none;
}

#GRID {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid div {
    border: 1px solid var(--logoColor);
    padding: 1vh 1vw;
}

.oneBYone, .oneBYtwo {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* CSS for custom table */
.custom-table {
    width: 100%; /* Make table take full width of its container */
    border-collapse: collapse; /* Collapse borders for better styling */
    table-layout: fixed; /* Fix the table layout to ensure equal column width */
}

.custom-table th, .custom-table td {
    border: 1px solid #f2f2f2; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells for better readability */
    word-break: break-word; /* Break long words to fit inside cells */
}

.custom-table th {
    background-color: #000; /* Add background color to header cells */
    text-align: center; /* Center-align header text */
}

.custom-table td {
    text-align: left; /* Left-align cell content */
}

.custom-table tbody tr {
    height: auto; /* Set row height to auto */
}

.form-container {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.form-container > .user-input {
    margin-top: 20px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

.form-container > .password {
    margin-top: 20px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

::placeholder {
    color: var(--col-6);
    padding-left: 10px;
}

.form-container > button {
    margin-top: 30px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: solid var(--col-8);
    background: var(--col-8);
    font-size: 1rem;
}

.form-container > button:hover {
    background: green;
    border: solid green;
}

.hidden-container {
    display: none;
    flex-direction: column;
}

.chat-container {
    display: flex;
    width: 400px;
    height: 600px;
    background-color: #6c5a58;
    border-radius: 13px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.display-container {
    width: 360px;
    height: 400px;
    background-color: #ffffff68;
    border-radius: 4px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-color: #007 #767772;
}

.display-data > li {
    background-color: #6c5a58e3;
    border-radius: 6px;
    padding: 5px 10px;
}

.chat-container > div, input {
    margin-top: 20px;
}

.alias-input {
    border-radius: 6px;
    height: 40px;
    padding-left: 10px;
    background-color: #ffffff68;
}

.comment-container {
    width: 380px;
    display: flex;
    justify-content: space-evenly;
}

.comment-input {
    border-radius: 6px;
    padding: 10px;
    background-color: #ffffff68;
}

.comment-input::placeholder, .alias-input::placeholder {
    color: #333;
}

.comment-btn {
    width: 60px;
    border-radius: 6px;
    background-color: #ffffff68;
    color:#333
}

.card-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.text {
    text-align: center;
}

.text a {
    text-decoration: none;
    color: var(--col-2);
}

.text a:hover {
    color: red;
}

.avtaler a {
    text-decoration: none;
    color: #38b8ff;
}

.avtaler a:hover {
    color: red;
}

.links a {
    text-decoration: none;
    color: #38b8ff;
}

.links a:hover {
    color: red;
}

#HIDDEN-CONTAINER > p > a {
    color: #38b8ff;
}

.slipp-img img {
    width: 20vw;
    height: 40vh;
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* semi-transparent black background */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.homeImageSpan {
    margin-right: 200px;
}

.newDivHomeSpanImg {
    display: flex;
    align-items: center;
}

.newDivHomeSpanImg img {
    width: 300px;
    height: 250px;
    margin-right: 100px;
}

.card-container img {
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
.forbund {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}
.forbund a {
    text-align: center;
    text-decoration: none;
    color: #38b8ff;
}
.forbund a:hover {
    color: red;
}
.newText {
    color: rgba(150, 40, 40, 0.995);
}
.list {
    padding-left: 3vw;
}
.footer-container {
    width: 100vw;
    height: 2.5vh;
    background-color: var(--logoColor);
    color: var(--col-12);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 640px) {
    .logo {
        padding-left: 1vw;
        font-size: 1.5em;
        font-weight: 700;
        width: 25vw;
    }
    .becomeMemberButton {
        width: 18vw;
        font-size: 3vw;
    }
    .logout-btn {
        width: 18vw;
        font-size: 3vw;
    }
    nav {
        transform: translateX(100%);
        transition:All 0.5s ease-in;
    }
    .nav-links {
        position: fixed;
        top: 12vh;
        right: 0;
        background: var(--col-10);
        
    }
    .nav-links > ul {
        flex-direction: column;
        height: 70vh;
        width: 100vw;
    }
    .burger {
        display: block;
    }
    .chat-container {
        width: 94%;
    }
    .display-container {
        width: 90%;
    }
    .homeImageSpan {
        margin-right: 50px;
    }
    .newDivHomeSpanImg {
        display: block;
    }
    .newDivHomeSpanImg img {
        width: 200px;
    }
    .card-container {
        flex-direction: column;
    }
    .card-1,
    .card-2,
    .card-3 {
        padding-top: 4vh;
    }
    .forbund {
        padding-top: 4vh;
    }
    .mainDiv > div {
        font-size: .8em;
    }
    .footer-container {
        font-size: 11px;
    }
    .collapsible {
        width: 50vw;
    }
    #DIV3 > ul {
        margin: 0 6vw;
    }
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.collapsible {
width: 88vw;
display: flex;
flex-direction: column;
justify-content: space-around;
/* background-color: #333; */
/* padding-left: 1vw; */
margin-left: 1.8vw;
}

.collapsible > li {
margin-left: -40px;
list-style-type: none;
}

.collapsible-header {
height: 10vh;
font-size: 1.2rem;
display: flex;
align-items: center;
padding-left: 4vw;
cursor: pointer;
background-color: rgb(111, 110, 110);
border-bottom: 1px solid black;
}

/* li:not(:last-child) {
border-bottom: 1px solid black;
} */

/* .collapsible-body {
max-height: 0;
transition: all 0.3s ease-in-out;
overflow: hidden;
} */

/* .collapsible-body.open {
display: block;
transition: all 0.3s ease;
max-height: auto;
} */

.collapsible-body > p {
padding: 20px;
font-size: .8rem;
}

.collapsible-body {
    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.collapsible-body > ul {
    margin-left: 40px;
}

.open {
    /* display: flex; */
    flex-direction: column;
    height: auto;
    /* transition: all 0.3s ease; */
}