:root {
    --col-1: #8e8d8a;
    --col-2: #eee2dc;
    --logoColor: #c2b6ab;
    --col-6: #bdb1a6;
    --col-7: #321921;
    --col-8: #6c5a58;
    --col-9: #000000;
    --col-10: #333;
    --col-11: #d3d3d3;
    --col-12: #111;
    --dark: #090605;
    --dark-gray: #676566;
    --light-gray: #b4b2b3;
    --light-blue: #a4bfd9;
    --dark-blue: #5b92cb;
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* background: var(--col-12); */
    letter-spacing: .4px;
}

.header-container {
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(319deg, rgba(45,44,44,1) 0%, rgba(74,74,74,1) 50%, rgba(70,70,70,1) 100%);
    position: fixed;
    top: 0;
    justify-content: space-between;
}

/* header > img {
    height: 12vh;
} */

.logo {
    font-size: 3rem;
    font-family: "Concert One", sans-serif;
    padding-left: 3vw;
    font-weight: 800;
    color: var(--col-11);
}

.becomeMemberButton {
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: rgb(17, 167, 17);
    color: #fff;
    border: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.418);
    color: var(--col-11);
    border: red;
    display: none;
    justify-content: center;
    align-items: center;
}

.becomeMemberButton:hover {
    background-color: green;
}

.logout-btn:hover {
    background-color: red;
}

.lang-container {
    padding-right: 3vw;
}

.nav-links {
    position: fixed;
    top: 12vh;
    width: 100vw;
}

.nav-links > ul {
    display: flex;
    background: var(--col-10);
    height: 3vh;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: var(--col-11);
    text-transform: uppercase;
}

.nav-links li {
    cursor: pointer;
}

.nav-links li:hover{
    color: #38b8ff;
    font-weight: 800;
}

.mainDiv {
    padding-top: 12vh;
}

.mainDiv > div {
    display: none;
    padding: 3vw;
    line-height: 1.5;
    background: var(--light-gray);
    color: rgb(4, 4, 4);
    padding: 8vh 5vw;
    /* width: 100%; */
    min-height: 72vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainDiv > div.active {
    display: block;
}

.burger {
    background: var(--col-10);
    position: fixed;
    top: 13vh;
    right: 2vw;
    display: none;
    cursor: pointer;
    /* z-index: 333; */
}

.burger div{
    width: 25px;
    height: 3px;
    background: var(--col-6);
    margin: 5px;
    transition:all 0.5s ease;
}

.toggle .line1{
    transform: rotate(-405deg) translate(-5px,6px );
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(405deg) translate(-5px,-6px );
}

.nav-active{
    transform: translateX(0%);
}

.hidden {
    display: none;
}


/* CSS for custom table */
.custom-table {
    width: 100%; /* Make table take full width of its container */
    border-collapse: collapse; /* Collapse borders for better styling */
    table-layout: fixed; /* Fix the table layout to ensure equal column width */
}

.custom-table th, .custom-table td {
    border: 1px solid #9c9c9c; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells for better readability */
    word-break: break-word; /* Break long words to fit inside cells */
    color: rgb(4, 4, 4);
}

.custom-table th {
    background-color: #848484; /* Add background color to header cells */
    text-align: center; /* Center-align header text */
}

.custom-table td {
    text-align: left; /* Left-align cell content */
}

.custom-table tbody tr {
    height: auto; /* Set row height to auto */
}

.form-container {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.form-container > .user-input {
    margin-top: 20px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

.form-container > .password {
    margin-top: 20px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

::placeholder {
    color: var(--col-6);
    padding-left: 10px;
}

.form-container > button {
    margin-top: 30px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background: var(--dark-gray);
    color: var(--col-11);
    font-size: 1rem;
}

.form-container > button:hover {
    background: green;
    border: solid green;
}

.hidden-container {
    display: none;
    flex-direction: column;
}

.chat-container {
    display: flex;
    width: 400px;
    height: 600px;
    background-color: #6c5a58;
    border-radius: 13px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.display-container {
    height: 400px;
    background-color: #ffffff68;
    border-radius: 4px;
    overflow-y: scroll;
    scrollbar-color: var(--col-10) #767772;
}

.display-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 5px;
}

.display-data > li {
    background-color: #808080e3;
    border-radius: 6px;
    padding: 5px 10px;
    list-style: none;
    color: #333;
    width: 50%;
    margin-top: 10px;
}

.chat-container > div, input {
    margin-top: 20px;
}

.alias-input {
    border-radius: 6px;
    height: 40px;
    padding-left: 10px;
    background-color: #ffffff68;
}

.comment-container {
    width: 380px;
    display: flex;
    justify-content: space-evenly;
}

.comment-input {
    border-radius: 6px;
    padding: 10px;
    background-color: #ffffff68;
}

.comment-input::placeholder, .alias-input::placeholder {
    color: #333;
}

.comment-btn {
    width: 60px;
    border-radius: 6px;
    background-color: #ffffff68;
    color:#333
}

.card-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.card-1,
.card-2,
.card-3 {
    width: 30%;
    height: 700px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.card-2 > .text {
    padding-top: 400px;
}

.card-container img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.links a {
    text-decoration: none;
    color: #2b5dd2ff;
}

.links a:hover {
    color: rgb(3, 68, 218);
    font-weight: 600;
}

#HIDDEN-CONTAINER > p > a {
    color: #38b8ff;
}

.slipp-img img {
    width: 20vw;
    height: 40vh;
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* semi-transparent black background */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.homeImageSpan {
    margin-right: 200px;
}

.newDivHomeSpanImg {
    display: flex;
    align-items: center;
}

.newDivHomeSpanImg img {
    width: 300px;
    height: 250px;
    margin-right: 100px;
}

.forbund {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}
.forbund a {
    text-align: center;
    text-decoration: none;
    color: var(--dark);
}
.forbund a:hover {
    color: red;
}
.newText {
    color: rgba(150, 40, 40, 0.995);
}
.list {
    padding-left: 3vw;
}
.footer-container {
    width: 100vw;
    height: 2.5vh;
    background: linear-gradient(319deg, rgba(45,44,44,1) 0%, rgba(74,74,74,1) 50%, rgba(70,70,70,1) 100%);
    color: var(--col-11);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 15vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.union_dues_calculator {
    background-color: #b8b8b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    width: 40%;

    .calc_header {
        text-align: center;
        margin-top: 30px;
        padding: 30px 6px;
    }

    .calc_input {
        text-align: center;

        .salary_input, .year_input {
            margin-left: 10px;
            padding: 4px 2px;
        }

        .year_input {
            margin-top: 6px;
        }

        .calc_btn {
            margin: 10px 0;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 6px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }

    .calc_display {
        padding: 10px 20px;

        .calc_result {
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
        }

        .tot_res_value {
            /* color: red; */
            background-color: green;
            width: 46%;
            padding-left: 10px;
        }

        .calc_result > p:last-child {
            width: 100px;
            background-color: rgb(160, 159, 159);
            padding-left: 6px;
        }
    }

    .calc_footer {
        padding: 20px;
    }
}

.required {
    /* border: 1px solid red; */
    background-color: red;
}
.placeholder_red::placeholder {
    color: #fff;
}


@media only screen and (max-width: 640px) {
    .logo {
        padding-left: 3vw;
        font-size: 1.5em;
        font-weight: 700;
        width: 25vw;
    }
    .becomeMemberButton {
        width: 18vw;
        font-size: 3vw;
    }
    .logout-btn {
        width: 18vw;
        font-size: 3vw;
    }
    nav {
        transform: translateX(100%);
        transition:All 0.5s ease-in;
    }
    .nav-links {
        position: fixed;
        top: 12vh;
        right: 0;
        background: var(--col-10);

    }
    .nav-links > ul {
        flex-direction: column;
        height: 70vh;
        width: 100vw;
    }
    .burger {
        display: block;
    }
    .chat-container {
        width: 94%;
    }
    .display-container {
        width: 100%;
    }
    .homeImageSpan {
        margin-right: 50px;
    }
    .newDivHomeSpanImg {
        display: block;
    }
    .newDivHomeSpanImg img {
        width: 200px;
    }
    .card-container {
        flex-direction: column;
    }
    .card-1,
    .card-2,
    .card-3 {
        padding-top: 4vh;
        width: 90%;
        height: 600px;
        margin-top: 20px;
    }
    .forbund {
        padding-top: 4vh;
    }
    .mainDiv > div {
        font-size: .8em;
        min-height: 70vh;
        padding-bottom: 10vh;
    }
    footer {
        font-size: 11px;
    }
    .slipp-img img {
        height: 18vh;
    }
    .collapsible-header {
        font-size: 12px;
    }
    .union_dues_calculator {
        width: 100%;
    }
}

.collapsible {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.collapsible-header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #b8b8b8;
    padding: 30px 20px;
    color: rgb(4, 4, 4);
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* font-size: 20px; */
}
/* .collapsible > li:not(:last-child) {
    border-bottom: 1px solid black;
} */
.collapsible-body {
    height: 0;
    overflow: hidden;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    background-color: rgb(170, 170, 170);
    color: rgb(4, 4, 4);
    border-radius: 8px;
}
.collapsible-body > p {
    padding: 40px 30px;
    /* width: 60%; */
}
.collapsible-body > ul {
    padding: 0px 20px 30px 50px;
    list-style: disc;
}
.collapsible-body > ul > li {
    padding-bottom: 10px;
    /* width: 80%; */
}
